.primary_btn {
  border: none;
  outline: none;
  color: white;
  background-color: #34495E;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease-out, opacity .15s linear;
  border-radius: 0.25rem;

  &:hover {
    background-color: var(--black-color);
  }

  &:disabled {
    opacity: 0.7;
  }

  &[data-color="red"] {
    background-color: #dc3d3f;

    &:hover {
      background-color: #ad1619;
    }
  }
}

.form_fields {
  display: inline-flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 1.75rem;
}

.form_field {

}

.form_field__shell {
  display: flex;
  column-gap: 0.5rem;
}

.form_field__label {
  display: inline-block;
  margin-bottom: 0.25rem;
  font-weight: 600;
}

.form_field__control {
  display: block;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: var(--black-color);
  border-radius: .25rem;
  background-color: #FFFFFF;
  padding: 0.5rem 0.75rem;
  outline: none;
  border: 1px solid gray;

  &:focus {
    border-color: var(--black-color);
  }
}

.form_actions {
  display: flex;
  column-gap: 0.5rem;
}